extends layout

block head
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', crossorigin='anonymous')

block content
    h1 Work in Progress...
    p So you're probably locked out of your account
    a(href="/") Go back to login
